# 6 함수

## 파이썬 함수

In [3]:
def add(x, y):
    return x + y

a, b = 3, 4
c = add(3, 4)
print(c)

d = add(111, 222)
print(d)

7
333

In [13]:
# 1) 매개변수(입력값) O, 리턴값 O

def minus(x, y):
    result =  x - y
    return result

a = minus(10, 4)
print(a)

6

In [5]:
# 2) 매개변수 X, 리턴값 O

def say():
    return "Hi"

print(say())

Hi

In [11]:
# 3) 매개변수 O, 리턴값 X   /   함수 내 출력문(프린트)을 넣으면 리턴값 필요 X

def add(x, y):
    print("%d와 %d의 합은 %d입니다."%(x, y, x+y))

add(5, 6)

# 리턴값이 없기 때문에 a를 출력하면 none값이 나옴
a = add(1,2)
print(a)

5와 6의 합은 11입니다.
1와 2의 합은 3입니다.
None

In [12]:
# 4) 매개변수 X, 리턴값 X

def say():
    print("Hi")

say()

Hi

In [14]:
# 키워드 매개변수

def sub(x, y):
    return x - y

result = sub(7, 3)
print(result)

result2 = sub(y=3, x=7)
print(result2)

4
4

In [19]:
# 가변 매개변수(*매개변수명)   /   입력값을 여러 개 받는 함수(튜플 형식)

def add_many(*args):
    result = 0
    for i in (args):
        result += i
    return result

res1 = add_many(1, 2, 3, 4, 5)
print(res1)

15

In [23]:
# 덧셈, 곱셈 둘다 연산 가능한 함수

def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

res1 = add_mul('add', 1, 2, 3, 4, 5)
print(res1)

res2 = add_mul('mul', 1, 2, 3, 4, 5)
print(res2)

15
120

In [26]:
# 키워드 가변 매개변수 (**매개변수)   /   키워드 매개변수(딕셔너리 형식)

def print_kwargs(**kwargs):
    print(kwargs)
    
print_kwargs(a=1)
print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [31]:
# 함수의 리턴값은 하나!!

def add_and_mul(x, y):
    return x + y, x * y

res = add_and_mul(2, 3)
print(res)

res1, res2 = add_and_mul(3, 4)
print("x + y = ",res1)
print("x * y = ",res2)

(5, 6)
x + y =  7
x * y =  12

In [33]:
def add_and_mul(x, y):
    return x + y          # 첫번째 return문을 만나 값을 반환하고 함수 종료
    return x * y

res = add_and_mul(2, 3)
print(res)

5

In [53]:
# return의 또 다른 쓰임새

nick = str(input("별명을 입력하세요"))

def say_nick(nick):
    if nick == '바보':
        return
    else:
        print("나의 별명은 '%s'입니다"%nick)

        
say_nick('바보')
say_nick(nick)

별명을 입력하세요 야호

나의 별명은 '야호'입니다

In [49]:
# 매개변수에 초기값 설정

def say_myself(name, age, man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나의 나이는 {age}살 입니다.")
    if man:
        print("성별은 남자입니다.")
    else:
        print("성별은 여자입니다.")

say_myself('홍길도', 30)
say_myself('홍길도', 30, False)

나의 이름은 홍길도입니다.
나의 나이는 30살 입니다.
성별은 남자입니다.
나의 이름은 홍길도입니다.
나의 나이는 30살 입니다.
성별은 여자입니다.

In [62]:
# 함수의 유효범위

a = 1
b = 1

def vartest(a):          # 함수 내에서 a = 2로 변경되었지만 return으로 값을 반환하지 않았기 때문에 반영 X(함수 안에서만 영향을 미침)
    a += 1
vartest(a)               # 아무것도 실행되지 않음
print(a)                 # 함수 밖에 있는 a 출력

print('-'*20)

# 해결방법 1) return 사용하기
def vartest1(x):
    x += 1
    return x
a = vartest1(a)          # 함수 실행하면 return에 의해 x값 반환 + a 변수에 덮어씀
print(a)

print('-'*20)

#해결방법 2) global 명령어 사용하기
def vartest2():
    global b             # 함수 안에서 b는 전역변수로 변경됨
    b += 1
vartest2()          
print(b)

1
--------------------
2
--------------------
2

In [66]:
# lambda 표현식(예약어)   /   def와 동일하지만 한줄로 간결하게 만들때 사용

#lambda 미사용
def add(a, b):
    return a + b
print(add(3, 4))

print('-'*20)

#lambda 사용
add = lambda a, b: a + b
print(add(2, 3))

7
--------------------
5

## 함수의 활용

### 1) 재귀 함수
: 내가 만든 함수를 다시 호출하는 것

In [71]:
# 반복문으로 팩토리얼 구하기

def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

print('2! : ', factorial(2))
print('3! : ', factorial(3))
print('4! : ', factorial(4))
print('5! : ', factorial(5))

2! :  2
3! :  6
4! :  24
5! :  120

In [73]:
# 재귀 함수로 팩토리얼 구하기

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print('2! : ', factorial(2))
print('3! : ', factorial(3))
print('4! : ', factorial(4))
print('5! : ', factorial(5))


#        n     return    result
# f(5)   5     5*f(4)   5*4*3*2*1
# f(4)   4     4*f(3)   4*3*2*1
# f(3)   3     3*f(2)    3*2*1
# f(2)   2     2*f(1)     2*1
# f(1)   1     1*f(0)     1*1
# f(0)   0       1

2! :  2
3! :  6
4! :  24
5! :  120

In [76]:
# 반복문으로 리스트 평탄화

def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += item
        else:
            output.append(item)
    return output

example = [[1, 2, 3], [4,[5, 6]], 7, [8, 9]]
print('원본 : ', example)
print('변환 : ', flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, [5, 6], 7, 8, 9]

In [77]:
# 재귀 함수로 리스트 평탄화

def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += flatten(item)
        else:
            output.append(item)
    return output

example = [[1, 2, 3], [4,[5, 6]], 7, [8, 9]]
print('원본 : ', example)
print('변환 : ', flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]