## 3-4 자료형-튜플

### 튜플의 요솟값을 지우거나 변경하려고 한다면

In [1]:
t1 = (1, 2, "a", "b")
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [2]:
t1[0] = 3

# 튜플은 리스트와 다르게 삭제/수정이 불가하다

TypeError: 'tuple' object does not support item assignment

### 튜플 다루기

In [3]:
# 인덱싱

t1 = (1, 2, "a", "b")
print(t1[0])
print(t1[1])
print(t1[2])
print(t1[3])

1
2
a
b

In [4]:
# 슬라이싱

t1[1:3]

(2, 'a')

In [5]:
print(t1[:2])
print(t1[2:])

(1, 2)
('a', 'b')

In [6]:
# 튜플 더하기

t1 = (1, 2, "a", "b")
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [7]:
# 튜플 곱하기

t3 = t2 * 2
t3

(3, 4, 3, 4)

In [8]:
# 튜플 길이 구하기

len(t1)

4

In [9]:
#자료형이 뭔지 모를땐 그냥 무조건적 type 찍어라
t4= 1,2,'3'
type(t4)

tuple